.task {
  margin-top: 15px;
}
.task:first-child {
  margin-top: 0;
}

.task--completed {
  opacity: 0.5;
}
.task--completed .task__completed {
  background: #349eff;
}

.task-list {
  overflow: hidden;
}

.task__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2C343F;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.task__inner:hover {
  background: rgba(52, 158, 255, 0.2);
}
.task__inner:hover .task__button {
  opacity: 1;
}

.task__inner-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 0;
}
.task__inner-bg svg {
  width: 20px;
  height: 20px;
}

.task__completed {
  min-width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 10px;
}
.task__completed path {
  fill: #FFFFFF;
}
.task__completed:hover {
  background: #349eff;
}

.task__name {
  font-size: 18px;
  width: 100%;
}

.task__button {
  height: 20px;
  opacity: 0;
}
.task__button svg {
  width: 20px;
  height: 20px;
}
.task__button:hover path {
  fill: #349eff;
}

.task__button-edit {
  margin: 0 5px;
}

.task__priority {
  min-width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
}

.tasks__none {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
}

.tasks__none--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tasks__none-bg {
  margin-bottom: 15px;
}
.tasks__none-bg img {
  width: 300px;
}

.tasks__none-title {
  font-size: 18px;
  text-align: center;
  line-height: 1.5em;
}

.tasks__none-button {
  margin-top: 15px;
  font-size: 16px;
  padding: 10px 30px;
  background: #349eff;
  border-radius: 10px;
  position: relative;
}
.tasks__none-button:hover {
  background: #0186ff;
}
.tasks__none-button:active {
  bottom: -1px;
}

.task--hide {
  -webkit-animation: task-hide 1s forwards;
          animation: task-hide 1s forwards;
}

@-webkit-keyframes task-hide {
  0% {
    right: 0;
    background-color: #E44F4F;
  }
  50% {
    right: 50vw;
    background-color: #E44F4F;
  }
  100% {
    right: -150vw;
    background-color: #E44F4F;
  }
}

@keyframes task-hide {
  0% {
    right: 0;
    background-color: #E44F4F;
  }
  50% {
    right: 50vw;
    background-color: #E44F4F;
  }
  100% {
    right: -150vw;
    background-color: #E44F4F;
  }
}