@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa Bold"), local("Comfortaa-Bold"), url("../fonts/comfortaabold.woff2") format("woff2"), url("../fonts/comfortaabold.woff") format("woff"), url("../fonts/comfortaabold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.dark-theme {
  --main-bg-color: #212832;
  --bg-color: #2c343f;
  --txt-color: #ffffff;
  --primary-color: #349eff;
  --primary-color-dark: #227dd3;
}

.light-theme {
  --main-bg-color: #f0f4ff;
  --bg-color: #d2dfff;
  --txt-color: #000000;
  --primary-color: #349eff;
  --primary-color-dark: #227dd3;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
textarea {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  resize: none;
  font-family: "Comfortaa", serif;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--txt-color);
}

path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}
*::-webkit-scrollbar {
  width: 0;
}

img {
  pointer-events: none;
}

body {
  line-height: 1;
  font-family: "Comfortaa", serif;
  background: var(--main-bg-color);
  color: var(--txt-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.main {
  padding: 200px 15px 0 15px;
  height: 100vh;
  min-height: 550px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;
}

.overlay--active {
  pointer-events: all;
}

#color-red {
  background: #e44f4f;
}

#color-yellow {
  background: #eee48f;
}

#color-green {
  background: #1bc47d;
}

#color-white {
  background: #ffffff;
}

#color-purple {
  background: #6360de;
}

#color-pink {
  background: #eb8be1;
}

#color-orange {
  background: #d78150;
}

#color-peach {
  background: #f0838a;
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--main-bg-color);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.preloader--hide {
  opacity: 0;
  pointer-events: none;
}

.preloader-circle {
  width: 150px;
  height: 150px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #337ab7;
  -webkit-animation: preloader 2s linear infinite;
          animation: preloader 2s linear infinite;
}
.preloader-circle::before, .preloader-circle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.preloader-circle::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #bfe2ff;
  -webkit-animation: preloader 3s linear infinite;
          animation: preloader 3s linear infinite;
}
.preloader-circle::after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #337ab7;
  -webkit-animation: preloader 1.5s linear infinite;
          animation: preloader 1.5s linear infinite;
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.header {
  position: fixed;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--main-bg-color);
  z-index: 1;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.header__top-title {
  font-size: 20px;
}

.header__top-settings {
  height: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__top-settings svg {
  width: 25px;
  height: 25px;
}
.header__top-settings:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header__top-settings:hover path {
  fill: var(--primary-color);
}

.header__top-button {
  position: absolute;
  background: var(--bg-color);
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  font-size: 16px;
}

.header__top-remove {
  top: 40px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.header__top-remove:hover {
  background: #e44f4f;
}

.header__top-theme {
  top: 90px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  overflow: hidden;
}
.header__top-theme:hover {
  background: var(--primary-color);
}

.header__top-button--active {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__top-icon {
  height: 20px;
  margin-right: 10px;
}
.header__top-icon svg {
  width: 20px;
  height: 20px;
}

.header__top-theme {
  padding-left: 30px;
}

.sun {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 10px;
}

.moon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 10px;
}

.header__top-icon--active {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.header__bottom-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom-progress span {
  font-size: 14px;
  margin-left: 5px;
}

.header__bottom-progress-bar {
  width: 100%;
  height: 10px;
  background: var(--bg-color);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.header__bottom-progress-bar-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--primary-color);
  border-radius: 0 10px 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__bottom-progress-count {
  margin-left: 10px;
  font-size: 20px;
}

.header__bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  position: relative;
}
.header__bottom-info span {
  font-size: 14px;
  margin: 0 5px;
}

.header__bottom-icon {
  height: 25px;
  margin-right: 10px;
}
.header__bottom-icon svg {
  width: 25px;
  height: 25px;
}

.header__bottom-task-completed {
  font-size: 20px;
}

.header__bottom-all-task {
  font-size: 20px;
}

.header__bottom-add {
  margin-top: 15px;
  font-size: 16px;
  padding: 10px 30px;
  background: var(--primary-color);
  border-radius: 10px;
  position: relative;
}
.header__bottom-add:hover {
  background: var(--primary-color-dark);
}
.header__bottom-add:active {
  bottom: -1px;
}

.task-list {
  overflow-x: hidden;
}

.task {
  margin-top: 15px;
}
.task:first-child {
  margin-top: 0;
}

.task--completed {
  opacity: 0.5;
}
.task--completed .task__completed {
  background: var(--primary-color);
}

.task__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bg-color);
  padding: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.task__inner:hover {
  background: var(--primary-color-dark);
}
.task__inner:hover .task__button {
  opacity: 1;
}

.task__color {
  width: 5px;
  height: 30px;
  border-radius: 10px;
  position: relative;
  left: -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.task__inner-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 0;
  z-index: 10;
}
.task__inner-bg svg {
  width: 20px;
  height: 20px;
}
.task__inner-bg svg path {
  fill: #ffffff;
}

.task__completed {
  min-width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}
.task__completed path {
  fill: #ffffff;
}
.task__completed:hover {
  background: var(--primary-color);
}

.task__name {
  font-size: 18px;
  width: 100%;
}

.task__button {
  height: 20px;
  opacity: 0;
}
.task__button svg {
  width: 20px;
  height: 20px;
}
.task__button svg path {
  fill: var(--txt-color);
}
.task__button:hover path {
  fill: var(--primary-color);
}

.task__button-edit {
  margin: 0 5px;
}

.task__priority {
  min-width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tasks__none {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
}

.tasks__none--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tasks__none-bg {
  margin-bottom: 15px;
}
.tasks__none-bg img {
  width: 300px;
}

.tasks__none-title {
  font-size: 18px;
  text-align: center;
  line-height: 1.5em;
}

.tasks__none-button {
  margin-top: 15px;
  font-size: 16px;
  padding: 10px 30px;
  background: #349eff;
  border-radius: 10px;
  position: relative;
}
.tasks__none-button:hover {
  background: var(--primary-color-dark);
}
.tasks__none-button:active {
  bottom: -1px;
}

.task--hide {
  -webkit-animation: task-hide 1s forwards;
          animation: task-hide 1s forwards;
}

@-webkit-keyframes task-hide {
  0% {
    right: 0;
    background-color: #e44f4f;
  }
  50% {
    right: 50vw;
    background-color: #e44f4f;
  }
  100% {
    right: -150vw;
    background-color: #e44f4f;
  }
}

@keyframes task-hide {
  0% {
    right: 0;
    background-color: #e44f4f;
  }
  50% {
    right: 50vw;
    background-color: #e44f4f;
  }
  100% {
    right: -150vw;
    background-color: #e44f4f;
  }
}
@media screen and (max-width: 425px) {
  .task__button-edit {
    opacity: 1;
  }

  .task__button-remove {
    display: none;
  }
}
.wrap {
  position: fixed;
  background: rgba(44, 52, 63, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrap--active {
  opacity: 1;
  pointer-events: all;
}
.wrap--active .inner {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.inner {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--bg-color);
  z-index: 99;
  border-radius: 60px 60px 0 0;
  padding: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 2px dashed #349eff;
  border-bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.title {
  font-size: 20px;
}

.name {
  font-size: 18px;
  width: 100%;
  background: var(--main-bg-color);
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  position: relative;
}
.name::-webkit-input-placeholder {
  color: var(--txt-color);
}
.name::-moz-placeholder {
  color: var(--txt-color);
}
.name:-ms-input-placeholder {
  color: var(--txt-color);
}
.name::-ms-input-placeholder {
  color: var(--txt-color);
}
.name::placeholder {
  color: var(--txt-color);
}
.name:focus {
  border-color: var(--primary-color);
}

.create__form-button {
  color: var(--txt-color);
}
.create__form-button::before {
  width: 10px;
  height: 10px;
}

.button {
  width: 100%;
  background: var(--main-bg-color);
  padding: 14px 0;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 15px;
  position: relative;
}
.button:hover {
  background: var(--primary-color);
}
.button:active {
  bottom: -1px;
}

.button-priorities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.priorities {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  background: var(--bg-color);
  width: 100%;
  margin: 0 auto;
  border-radius: 60px 60px 0 0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dashed var(--primary-color);
  border-bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.priorities--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.priority {
  background: var(--main-bg-color);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 16px;
  position: relative;
}
.priority::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: var(--primary-color);
  border-radius: 50%;
  right: 10px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.priority:hover {
  background: var(--primary-color);
}
.priority:hover::before {
  opacity: 1;
  background: #ffffff;
}

.priority--active::before {
  opacity: 1;
}

.selected {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colors {
  position: absolute;
  bottom: -15px;
  background: var(--bg-color);
  border: 2px dashed var(--primary-color);
  border-bottom: 0;
  width: 100%;
  padding: 15px;
  border-radius: 40px 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.colors--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.colors-inner {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.color {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--main-bg-color);
  margin: 10px;
  border-radius: 10px;
  position: relative;
}
.color:hover {
  background: var(--primary-color-dark);
}

.color-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.color-white::before {
  position: absolute;
  content: "";
  width: 4px;
  background: red;
  top: 0;
  bottom: 0;
  border-radius: 10px;
}
.color-white::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.color--active {
  background: var(--primary-color-dark);
}

.selected-color {
  min-width: 20px;
  height: 20px;
}

.create__form-button-add {
  background: var(--primary-color);
}
.create__form-button-add:hover {
  background: var(--primary-color-dark);
}
.create__form-button-add:disabled {
  background: var(--primary-color-dark);
}

.task__edit-remove {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e44f4f;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 15px;
}
.task__edit-remove svg {
  width: 20px;
  height: 20px;
}
.task__edit-remove svg path {
  fill: #ffffff;
}
.task__edit-remove:hover {
  background: #dd2323;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-inner {
  background: var(--bg-color);
  max-width: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  padding: 25px;
}

.moda__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.modal__button {
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 10px;
}

.modal__button-confirm {
  background: var(--primary-color);
}
.modal__button-confirm:hover {
  background: var(--primary-color-dark);
}

.modal__button-cancel {
  background: #e44f4f;
  margin-left: 15px;
}
.modal__button-cancel:hover {
  background: #dd2323;
}

.error {
  -webkit-animation: error 0.5s linear;
          animation: error 0.5s linear;
}

@-webkit-keyframes error {
  0% {
    right: 10px;
    border-color: #e44f4f;
  }
  25% {
    right: -10px;
    border-color: #e44f4f;
  }
  50% {
    right: 10px;
    border-color: #e44f4f;
  }
  75% {
    right: -10px;
    border-color: #e44f4f;
  }
  100% {
    right: 0;
    border-color: #e44f4f;
  }
}

@keyframes error {
  0% {
    right: 10px;
    border-color: #e44f4f;
  }
  25% {
    right: -10px;
    border-color: #e44f4f;
  }
  50% {
    right: 10px;
    border-color: #e44f4f;
  }
  75% {
    right: -10px;
    border-color: #e44f4f;
  }
  100% {
    right: 0;
    border-color: #e44f4f;
  }
}