.create__task {
    position: fixed;
    background: rgb(#2C343F, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.create__task--active {
    opacity: 1;
    pointer-events: all;

    .create__task-wrapper {
        transform: translateY(0);
    }
}

.create__task-wrapper {
    position: fixed;
    top: 0;
    background: #2C343F;
    z-index: 99;
    right: 0;
    left: 0;
    border-radius: 0 0 60px 60px;
    padding: 15px;
    transform: translateY(-100%);
    transition: 0.5s;
}

.create__task-inner {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.create__task-title {
    font-size: 22px;
    text-align: center;
}

.create__task-name {
    width: 100%;
    background: #212832;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 15px 0;

    &::placeholder {
        color: #FFFFFF;
    }

    &:hover {
        background: lighten(#212832, 10%);
    }

    &:focus {
        background: lighten(#212832, 10%);
    }
}

.create__task-priority-button {
    background: #212832;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
        background: lighten(#212832, 10%);
    }

    &:active {
        bottom: -1px;
    }
}

.create__task-priority-selected {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
}

.create__task-priority-title {
    font-size: 16px;
}

.create__task-priorities {
    position: absolute;
    top: -15px;
    background: #2C343F;
    width: 100%;
    border-radius: 0 0 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    z-index: 1;
    transform: translateY(-100%);
    transition: 0.5s;
}

.create__task-priorities--active {
    transform: translateY(0);
}

.create__task-priorities-title {
    font-size: 22px;
}

.create__task-priority {
    display: flex;
    align-items: center;
    width: 100%;
    background: #212832;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #349eff;
        right: 10px;
        opacity: 0;
        transition: 0.5s;
    }

    &:hover {

        &::before {
            opacity: 1;
        }
    }
}

.create__task-priority--active {

    &::before {
        opacity: 1;
    }
}

.create__task-add {
    margin-top: 15px;
    background: #349eff;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    font-size: 16px;

    &:hover {
        background: darken(#349eff, 10%);
    }

    &:active {
        bottom: -1px;
    }
}