@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url('../fonts/comfortaabold.woff2') format('woff2'), url('../fonts/comfortaabold.woff') format('woff'), url('../fonts/comfortaabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}