html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
textarea {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  resize: none;
  font-family: "Comfortaa", serif;
  padding: 0;
  transition: 0.5s;
  color: var(--txt-color);
}

path {
  transition: 0.5s;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-y;

  &::-webkit-scrollbar {
    width: 0;
  }
}

img {
  pointer-events: none;
}

body {
  line-height: 1;
  font-family: "Comfortaa", serif;
  background: var(--main-bg-color);
  color: var(--txt-color);
  transition: 0.5s;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.main {
  padding: 200px 15px 0 15px;
  height: 100vh;
  min-height: 550px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;
}

.overlay--active {
  pointer-events: all;
}

#color-red {
  background: #e44f4f;
}

#color-yellow {
  background: #eee48f;
}

#color-green {
  background: #1bc47d;
}

#color-white {
  background: #ffffff;
}

#color-purple {
  background: #6360de;
}

#color-pink {
  background: #eb8be1;
}

#color-orange {
  background: #d78150;
}

#color-peach {
  background: #f0838a;
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--main-bg-color);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.preloader--hide {
  opacity: 0;
  pointer-events: none;
}

.preloader-circle {
  width: 150px;
  height: 150px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #337ab7;
  animation: preloader 2s linear infinite;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #bfe2ff;
    animation: preloader 3s linear infinite;
  }

  &::after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #337ab7;
    animation: preloader 1.5s linear infinite;
  }
}

@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
