html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
textarea {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    resize: none;
    color: #FFFFFF;
    font-family: 'Comfortaa', serif;
    padding: 0;
    transition: 0.5s;
}

path {
    transition: 0.5s;
}

* {
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 0;
    }
}

img {
    pointer-events: none;
}

body {
    line-height: 1;
    font-family: 'Comfortaa', serif;
    background: #212832;
    color: #FFFFFF;
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.main {
    padding: 200px 15px 0 15px;
    height: 100vh;
}

#color-red {
    background: #E44F4F;
}

#color-yellow {
    background: #EEE48F;
}

#color-green {
    background: #1BC47D;
}

.show {
    animation: show .5s linear forwards;
}

@keyframes show {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}