.dark-theme {
  --main-bg-color: #212832;
  --bg-color: #2c343f;
  --txt-color: #ffffff;
  --primary-color: #349eff;
  --primary-color-dark: #227dd3;
}

.light-theme {
  --main-bg-color: #f0f4ff;
  --bg-color: #d2dfff;
  --txt-color: #000000;
  --primary-color: #349eff;
  --primary-color-dark: #227dd3;
}
